<!DOCTYPE html>
<html dir="auto">
  <head>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta charset="utf-8"/>
    <title>$title$</title>
<link rel="stylesheet" href="https://unpkg.com/latex.css/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$$', '$$']],
                displayMath: [['$$$$', '$$$$']]
            },
            TeX: {
                equationNumbers: {
                    autoNumber: "all"
                }
            }
        });
</script>
  </head>
  <body class="$size$ ">
    <!-- DAY OF THE WEEK -->
    <!-- CLOCK -->
    <div id="TOC" style="display: none;" >
      $toc$
    </div>
    $body$
  </body>
</html>
